In [43]:
import numpy as np
from math import sqrt

Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [44]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

cov_1 = ((zp-zp.mean())*(ks-ks.mean())).sum()/(len(ks)-1)
print(f"Ковариация  через функию {np.cov(ks, zp)[0,1]} , через вычисления {cov_1}")
σ_1, σ_2  = zp.std(ddof=1), ks.std(ddof=1)
corr_1 = cov_1/(σ_1 * σ_2)
print(f"Кореляция через функию {np.corrcoef(zp,ks)[0,1]} , коэфициент пирсона {corr_1}")

Ковариация  через функию 10175.377777777778 , через вычисления 10175.37777777778
Кореляция через функию 0.8874900920739163 , коэфициент пирсона 0.8874900920739164

Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [45]:
data = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
T = 2.2622
n = len(data)
M = data.mean()
σ = T*(data.std(ddof=1)/sqrt(n))
print(f"доверительный интервал от {M-σ} до {M+σ}")

доверительный интервал от 110.55594079648245 до 125.64405920351754

Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического
ожидания с надежностью 0.95.

In [46]:
n = 27
σ = 5
mean_data = 174.2
T = 1.96
print(f"доверительный интервал от {mean_data-T*(σ/sqrt(n))} до {mean_data+T*(σ/sqrt(n))}")

доверительный интервал от 172.31398912064722 до 176.08601087935276

Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики
и напишите ее в комментарии к Практическому заданию.

датасет https://www.kaggle.com/datasets/zusmani/petrolgas-prices-worldwide

In [47]:
Kyrsovoy_dataset = pd.read_csv("Petroll.csv", encoding = "ISO-8859-1")
Kyrsovoy_dataset.head()

,#,Country,Daily Oil Consumption (Barrels),World Share,Yearly Gallons Per Capita,Price Per Gallon (USD),Price Per Liter (USD),Price Per Liter (PKR)
0,1,United States,19687287,20.30%,934.3,5.19,1.37,289.97
1,2,China,12791553,13.20%,138.7,5.42,1.43,302.87
2,3,India,4443000,4.60%,51.4,5.05,1.33,281.93
3,4,Japan,4012877,4.10%,481.5,4.69,1.24,262.05
4,5,Russia,3631287,3.70%,383.2,3.41,0.90,190.56

данные по добыче нефти разными странами ,её экспорте и внутренем потреблении